body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    margin: 0px;
    font-size: large;
}
p{
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    font-size: small;
}
.object_name{
    font-size:15px;
    font-weight: bold;
}
canvas{
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    background-color: aquamarine;
}